@media screen and (max-width: 600px) {
  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .section {
    height: 100vw;
    background-color: white;
    margin: 1vw;
    z-index: 2;
    color: #146396;
    width: 100vw;
  }
}
@media screen and (min-width: 601px) {
  .container {
    width: 600vw;
    height: 100vh;
    display: flex;
    flex-wrap: no-wrap;
    -ms-overflow-style: none;
  }
  .container:-webkit-scrollbar {
    display: none;
  }
  .section {
    width: 100vw;
    background-color: white;
    margin: 1vw;
    z-index: 2;
    color: #146396;
  }
}
